<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
</head>
<body>

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Index Page!</h1>
      <p class="lead">This is a sample page using the Bootstrap Darkly theme.</p>
      <hr class="my-4">
      <p>Feel free to customize this page according to your needs.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dashboard</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla ex nec sapien congue, vel eleifend odio fringilla.</p>
            <a href="http://127.0.0.1:3000/dashboard" class="btn btn-primary">Go to Dashboard</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla ex nec sapien congue, vel eleifend odio fringilla.</p>
            <a href="http://127.0.0.1:3000/customers" class="btn btn-primary">Go to Customers</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
